{% macro print_group(tag, group, title, body, footer) %}
### {{ title }}
{% for commit in tag.groups[group] %}
- {{ "[" + commit.specific + "] " if commit.specific }}{{ commit.description.strip() }}
{% if body == True and commit.body %}
  {{ commit.body }}
{% endif %}
{% if footer == True and commit.footer %}
  {{ commit.footer }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro commit_list_format(tag, body, footer) -%}
{%-  if 'feat' in tag.groups %}
{{ print_group(tag, 'feat', 'New Features', body, footer) }}
{{ "" }}
{%- endif %}
{%- if 'fix' in tag.groups %}
{{ print_group(tag, 'fix', 'Bug Fixes', body, footer) }}
{{ "" }}
{%- endif %}
{%- if 'refactor' in tag.groups %}
{{ print_group(tag, 'refactor', 'Refactoring', body, footer) }}
{{ "" }}
{%- endif %}
{%- if 'perf' in tag.groups %}
{{ print_group(tag, 'perf', 'Performance Enhancements', body, footer) }}
{{ "" }}
{%- endif %}
{%- if 'docs' in tag.groups %}
{{ print_group(tag, 'docs', 'Documentation Changes', body, footer) }}
{{ "" }}
{%- endif %}
{%- if 'chore' in tag.groups %}
{{ print_group(tag, 'chore', 'Administration and Chores', body, footer) }}
{{ "" }}
{%- endif %}
{%- endmacro %}
